*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: azure;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    position: relative;
    /* border: 1px solid black;  */
}
img{
    width: 100%;
    height: 100%;
}
header{
    height: 200vh;
    width: 100%;
   
    background-image: url("professional\ 3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-origin: center;
    
    animation: headani 7s ease-in-out infinite alternate;
    transition: all 5s ;
}

@keyframes headani {
    0%{
        background-image: url("professional\ 3.jpg");
    }
    100%{
        background-image: url("professional\ 2.webp");
    }
}

.left p{
    font-size: 35px;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
ul{
    list-style: none;
}
 .rightClass{
    display: flex;
    list-style: none;
   gap: 20px;
   /* width: 100%; */
 
   /* border: 1px solid black; */
  
}
.right{
    display: flex;
    /* border: 1px solid black; */
     width: 100%;
    justify-content: flex-end;
    transition: all 1s ;
    

}
.right ul li{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}


.mainList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white; 
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 100%;
    width: 90px;
    display: none;
}


.mainList:hover .list{
    display: flex;
}
.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 200px;
    
  
    
}
.content{
    display: flex;
   
    
    justify-content: center;
    align-items: center;
    color: rgb(221, 37, 89);
 
}
.box{
    display: flex;
    justify-content: center;
   gap: 30px;
height: 300px;
width: 700px;

}
.mx1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: white;
}
.mx2{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: white;
}
.box3{
    display: flex;
    justify-content: center;
}
.line{
    color: white;
}

.box2{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 100vw;
    height: 70px;
}
.seeMore{
   background-color: white;
   display: flex;
   justify-content: center;
   font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    padding-top: 15px;
    border: 1px solid white;
    
}
 button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#menu-btn{
    display: none;
    border: 1px solid white;
}



@media(max-width:900px){
    html{
        font-size: 60%;
    }
    #menu-btn{
        display: flex;
    }
    .right{
        position: absolute;
        top: 0;
        left: 0;
        right: 70%;
        flex-direction: column;
        background-color: rgb(249, 247, 245);
        display: none;
        width: 30%;
        transition: transform 2s;
    }
    .active{
        display: flex;

    }
    .rightClass{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
    .rightClass a{
        color: black;
    }
    .deActive{
        transform: translateX(-500px);
    }
    .active{
        transform: translateX(0px);
    }

}
.c1{
    display: flex;
    justify-content: center;
    padding-top: 350px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mx3{
    color: #666;;
}
.mx4{
    color: RGB(87, 87, 195);
}
.c2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.c3{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mx5{
    color: RGB(87, 87, 195);
}
.c4{
    display: flex;
    justify-content: space-between;
    padding: 80px 110px 0 110px ;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sc1{
font-size: 19px;
font-weight: 700;
}
.sc2{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
}
.sc4{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
}
