*{
    color:  black;
    margin: 0;
    padding: 0;
    font-family :"Segoe UI" ,Tahoma ,Geneva,Verdana,sans-serif ;
}
h1{
    
    font-weight: 400;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
h2{
    font-size: 70px ;
    font-weight: 550;
}
ul{
    list-style: none;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
   padding:  20px 10px;
   position: relative;
}
.container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a{
    text-decoration: none;
}
p{
    text-align: center;
}


.navBar{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    gap: 200px;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center ;
    transition: all 6s;
    animation: navBarAny 6s infinite alternate ease-in-out ;
}
@keyframes navBarAny {
    0%{
        background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=600");
    }
    100%{
        background-image: url("https://images.pexels.com/photos/3484061/pexels-photo-3484061.jpeg?auto=compress&cs=tinysrgb&w=600");
    }
}
.btn{
    border-radius: 5px;
    border: 1px solid yellow;
    padding: 15px;
    justify-content: space-around;
    background-color: #ffff;
    color: black;
}
.btn:hover{
    color: #ffff;
    background-color: transparent;cursor: pointer;
}
.menubtn{
    display: none;
}

@media(max-width:700px){
   .menubtn{
    display: flex;
   }
   .nav ul{
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 84px; 
    width: 100%;
    /* transform: tanslateX(-500px); */
    clip-path: polygon(0 0, 0 0,100% 0,100% 0);
    transition:all 0.6s ;
    background:white;


   }
   .container{
    width: 97.3%;
   }
   h2 {
    font-size: 30px;
   }
   p{ font-size: 14px;}
   .btn{
    padding: 2px;
    width: 55px;
    height: 50px;
    border-radius: 18px;
    font-size: 12px;
    color: black;
   }
   
  
   .nav ul.active{
    /* transform: translateX(0px); */
    clip-path: polygon(0 0, 0 100% ,100% 100%,100% 0);
}
}


.creative-first-row{
    
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.creative-row{
    
    display : flex;
    flex-direction:row;
    flex: 1;
    flex-wrap: wrap;
     
    height: 25vh;
    padding: 20px;
    padding-left: 40px;

}
.icon{
     padding: 10px;
     align-items: center;
     
    
}
.iconContent{
     
    width: 80%;
    padding: 10px;
     
}
.modern{
    padding: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;`   
}



