*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
a{
    text-decoration: none;
    color: azure;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    position: relative;
    /* border: 1px solid black;  */
}
img{
    width: 100%;
    height: 100%;
}
header{
    height: 1192vh;
    width: 100%;
   
    background-image: url("professional\ 3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-origin: center;
    
    animation: headani 7s ease-in-out infinite alternate;
    transition: all 5s ;
}

@keyframes headani {
    0%{
        background-image: url("professional\ 3.jpg");
    }
    100%{
        background-image: url("professional\ 2.webp");
    }
}

.left p{
    font-size: 35px;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
ul{
    list-style: none;
}
 .rightClass{
    display: flex;
    list-style: none;
   gap: 20px;
   /* width: 100%; */
 
   /* border: 1px solid black; */
  
}
.right{
    display: flex;
    /* border: 1px solid black; */
     width: 100%;
    justify-content: flex-end;
    

}
.right ul li{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}


.mainList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white; 
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 100%;
    width: 90px;
    display: none;
}


.mainList:hover .list{
    display: flex;
}
.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 200px;
    
  
    
}
.content{
    display: flex;
   
    
    justify-content: center;
    align-items: center;
    color: rgb(221, 37, 89);
 
}
.box{
    display: flex;
    justify-content: center;
   gap: 30px;
height: 300px;
width: 700px;

}
.mx1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: white;
}
.mx2{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: white;
}
.box3{
    display: flex;
    justify-content: center;
}
.line{
    color: white;
}

.box2{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 100vw;
    height: 70px;
}
.seeMore{
   background-color: white;
   display: flex;
   justify-content: center;
   font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    padding-top: 15px;
    border: 1px solid white;
    
}
 button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#menu-btn{
    display: none;
    border: 1px solid white;
}



@media(max-width:900px){
    html{
        font-size: 60%;
    }
    #menu-btn{
        display: flex;
    }
    .right{
        position: absolute;
        top: 0;
        left: 0;
        right: 80%;
        flex-direction: column;
        background-color: rgb(249, 247, 245);
        display: none;
        width: 20%;
        height: 100vh;
        
        transition: all 2s;
        border: 1px solid black;
    }
    .active{
        display: flex;

    }
    .rightClass{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        padding-bottom: 100px;
    }
    .rightClass a{
        color: black;
        font-size: 20px;
        font-weight: 300;
        margin-top: 10px;
    }
    .deActive{
        transform: translateX(-500px);
    }
    .active{
        transform: translateX(0px);
    }

}
.c1{
    display: flex;
    justify-content: center;
    padding-top: 350px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mx3{
    color: #666;;
}
.mx4{
    color: RGB(87, 87, 195);
}
.c2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5px;
}
.c3{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mx5{
    color: RGB(87, 87, 195);
}
.c4{
    display: flex;
    /* justify-content: space-between; */
    padding: 80px 1px 0 0px ;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    
}
.left2{
    /* border: 1px solid black; */
    margin-left: 30px;
}
.right2{
    margin-left: 30px;
}
.icon1{
    /* border: 1px solid black; */
    margin-left: 80px;
    margin-top: 30px;
    color: RGB(87, 87, 195);
}
.sc1{
font-size: 19px;
font-weight: 700;
}
.sc2{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
}
.sc4{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
}
.mainBox{
    width: 100%;
    height: 350px;
    background-image: url("professional\ 3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 350px;
    background-origin: center; 
    /* border: 1px solid black; */
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.box4{
    height: 140px;
    width: 270px;
    background-color: #C8C0C4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b1{
    font-size: 40px;
    font-weight: 400;
    color: RGBA(112, 112, 185, 0.65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b2{
    font-size: 16px;
    font-weight: 400;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.c5{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
}
.mainBox2{
    background-color:#ECE7E7;
    width: 100%;
    height: 120vh;
}
.team{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    gap: 40px;
}
.team1 img{
    height: 400px;
    width: 400px;
}
.name{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.position{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.mainBox3{
    padding-top: 50px;
}
.mainBox4{
    width: 100%;
    height: 400px;
    background-image: url("business3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-origin: center; 
    /* border: 1px solid black; */
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sc6{
    color: RGB(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainBox5{
    padding-top: 40px;
}
.mainBox6{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /* border: 1px solid black; */
    gap: 100px;
}
.sBox1{
    height: 500px;
    width: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sBox1c1{
    background-color: #666;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sBox1c2{
    background-color:#E7E7E7;
    color: #666;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sBox1c3{
    background-color:#F8F8F8;
    color:#666;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #E7E7E7;
}
.sBox1c4{
    background-color:#F8F8F8;
    color: #666;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buy{
    background-color:transparent;
   display: flex;
   justify-content: center;
   font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    padding-top: 15px;
    border: 1px solid #666;
}
.buy:hover:hover{
    background-color: #666;
}
.price{
    font-size: 24px;
    font-weight: 700;
}
.sBox1c5{
    background-color:#BF8AF1;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buy2{
    background-color:transparent;
   display: flex;
   justify-content: center;
   font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    padding-top: 15px;
    border: 1px solid #BF8AF1;
    color: #BF8AF1;
}
.buy2:hover{
    background-color: #BF8AF1;
}
.mainBox7{
    height: 200px;
    width: 100%;
    background-color: #BF8AF1;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content1{
    color:white;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content2{
    margin-top: 20px;
}
.talk{
    background-color:transparent;
    display: flex;
    justify-content: center;
    font-size: 20px;
     height: 50px;
     width: 180px;
     border-radius: 20px;
     padding-top: 15px;
     border: 1px solid white;
     color: white;
}
.talk:hover{
    background-color: white;
    color: #666;
}
.mainBox8{
    padding-top: 40px;
    background-color: #ECE7E7;
}
.mainBox9{
    width: 100%;
    height: 170vh;
    background-color: #ECE7E7;
}
.work{
    display: flex;
    justify-content: center;
}
.work1 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-1.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work2 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-2.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work3 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-3.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work4 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-4.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work5 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-5.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work6 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-6.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work7 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-7.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work8 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-8.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.work9 {
    height: 350px;
    width: 400px;
    margin: 10px;
    background-image: url("work-9.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.title{
    color: white;
    /* border: 1px solid black; */
    height: 350px;
    width: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    

}
.mainWork{
    padding-top: 70px;
}
.work :hover .title{
    background-color: rgba(0, 0, 0, 0.475);
    cursor: pointer;
    display: flex;
}
.mainBox10{
    margin-top: 100px;
}
.imgBox1{
    display: flex;
}
.imgBox1back{
    width: 50%;
    height: 300px;
    background-image: url(professional\ 2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(102, 102, 102, 0.996);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    opacity: .5;
}
.imgBox2back{
    width: 50%;
    height: 300px;
    background-image: url(professional\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    opacity: .5;
}
.imgContent1{
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.imgContent2{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666;
}
.imgContent3{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.mainBox11{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content3{
    color:black;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}
.content4{
    margin-top: 20px;
}
.talk{
    background-color:transparent;
    display: flex;
    justify-content: center;
    font-size: 20px;
     height: 50px;
     width: 230px;
     border-radius: 20px;
     padding-top: 15px;
     border: 1px solid #666;
     color: #666;
}
.talk:hover{
    background-color: black;
    color: white;
}
.mainBox12{
width: 100%;
height: 145vh;
background-image: url(professional\ 2.webp);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;

}
.submainBox12{
    width: 100%;
    height: 110vh;
    background-color: transparent;
    margin-top: 20px;
}
.mainBox13{
    width: 100%;
    height: 35vh;
    background-color: #BF8AF1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    color: white;
}
.footerc1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerc2{
   display: flex;
   gap: 20px;
   font-size: 25px;
}
.footerc3{
    display: flex;
    gap: 5px;
}
.footerc3Nmae2{
    color: black;
}
